.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0px;
  text-transform: capitalize;
}
/* @media (max-width: 768px) {
  .chat-container{
    display: none;
  }
} */
.chat-container .user-container {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  color: #000000 !important;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  width: 100%;
}
.back-chat-icon{
  display: flex;
  align-items: center;
  padding: 5px;
}
.back-icon{
 padding:  0 4px;
}
.user-profile{
  display: flex;
}
.icon-color svg path{
  color: #7A8794 !important;
}
.search-user-msg{
  margin: 0 20px;
  gap: 20px;
  display: flex;
}
.chat-container .user-container img {
  margin: 0px 10px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}
.chat-container .messages-container {
  width: 100%;
  padding: 10px;
  height: 510px;
  font-size: 14px;
  color: black;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* border-bottom: 1px solid #D9D9D9; */
  border-top: 1px solid #D9D9D9;
  gap: 20px;
}

@media (max-width: 1024px) {
  .chat-container .messages-container{
    height: 480px !important;
  }
}
.messages-container .messages-send {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.loader-container {
  width: 100%;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages-container .messages-rececive {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.messages-container .messages-send .sender-msg,
.messages-container .messages-rececive .receiver-msg {
  margin: 5px;
  padding: 10px;
  word-wrap: break-word;
  border-radius: 0px 10px 10px 10px;
  text-wrap: wrap;
  position: relative;
}
.messages-container .messages-send .sender-msg {
  width: max-content;
  background-color: #BBE3FF;
  border-radius: 10px 0px 10px 10px
}
.messages-container .messages-rececive .receiver-msg {
  max-width: 1000px;
  background-color: #F5F5F5;
  /* box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
   */
   border-radius: 0px 10px 10px 10px;
}
/* 
.chat-input {
  height: 60px;
} */
.time {
  margin-left: 5px;
  font-size: small;
  color: #7A8794 !important;
  font-family: Roboto;
}
.view-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.view-more-button {
  /* width: 10%; */
  width: max-content;
  padding: 6px 10px;
  /* margin: 0% 40%; */
  border-radius: 50px;
}
.type {
  padding: 0px 10px;
  padding-bottom: 20px;
  height: 10px;
}
@media (max-width: 768px) {
  .profile-img{
    width: 35px !important;
    height: 35px !important;
  }
}

.user-status{
  font-family: Roboto;
  font-size: 14px;
  color: #7A8794 !important;
}
.online{
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: rgb(14, 194, 14);
  position: absolute;
  bottom: 9px;
  left: 60%;
  top: 3px;
}
.online-user{
  position: relative;
}

.time-user-chat, .chat-msg-data , .your-message{
  display: flex;
  align-items: center;
}
.your-message, .your-message .time-user-chat{
flex-direction: row-reverse;
}
.chat-send-msg-input{
  position: sticky;
  bottom: 0;
  background: white;
  border-top: 1px solid #D9D9D9;
}

.client-container{
    margin: 0 10px; 
    display: flex;
    align-items: center;
}
.Client-Name{
  margin: 20px;
  font-size: 18px;
  font-family: Roboto;
}



