.main-container { 
  height: 100vh;
  width: 100vw;
  display: flex; 
  flex-direction: column;
}
.chat-wrapper{
  height: calc(100vh - 96px);
}
.main-container .contact { 
  max-width: 300px;
  width: 100%;
  box-shadow: 0 15px 15px 0 rgba(0,0,0,0.2);
  background-color: #f8f8f8;
  border-right: 1px solid #d9d9d9;
  position: relative;
  z-index: 9999;
}
.main-container .chat {
  max-width: calc(100% - 300px); 
  width: 100%; 
}
.you-text{
  font-size: 16px;
  color: #212121;
  font-weight: 500;
}
.your-message .avatar_circle,.chat-msg-data .avatar_circle,
.your-message img,.chat-msg-data img{
  width: 50px;
  height: 50px;
  font-size: 24px;
  flex: 0 0 50px;
}
.messages-rececive .file-displys {
  margin-left: 64px;
}
.messages-send .file-displys {
  margin-right: 64px;
}
.attched-file{
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  object-position: center;
  cursor: pointer;
}
.img-loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media (max-width:576px) {
  .main-container .chat, .main-container .contact {
    width: 100%;
  } 
}
.mobile-contact {
  background-color: #fff; /* Background color for the contact list on mobile */
  border-right: 1px solid #ccc; /* Divider between contact list and chat on mobile */
  padding: 10px; /* Adjust padding as needed */
  height: 100vh; /* Full height for mobile contact list */
  overflow-y: auto; /* Enable scrolling if the contact list overflows the screen */
}

/* Style for individual contact items on mobile */
.mobile-contact .contact-item {
  padding: 10px;
  border-bottom: 1px solid #eee; /* Divider between contact items */
  cursor: pointer;
}

/* Style for the selected contact item on mobile */
.mobile-contact .contact-item.active {
  background-color: #f0f0f0; /* Background color for the selected contact */
}