.input-container {
  display: flex;
  gap: 15px;
  padding: 10px 20px;
}

.input-container .emoji {
  position: relative;
  color: #7A8794 !important;
  font-size: 24px;
  top: 10%;
  margin-right: 30px
}

@media (max-width: 375px) {
  .input-container{
       padding: 10px 10px !important;
  }

}

.emoji-picker {
  position: absolute;
  bottom: 60px;
  left: -270px;
  color: #7A8794 !important;

}

@media (max-width: 768px) {
  .input-container .send-box{
    /* border: 2px;
    width: 100%;
    padding: 0px 30px; */
    padding: 0 !important;
  }
}

.input-container .send-box {
  border: 2px;
  width: 100%;
  padding: 0px 30px;
  /* width: calc(100% - 50px); */
}

.input-container .send-box .input {
  width: 100%;
  border: transparent;
  outline: none;
  font-size: medium;
  color: rgb(89, 87, 87);
  background: #E7E6E6;
}

.input-container .send-box .send-button {
  font-size: 28px;
  border: none;
  outline: none;
  background: transparent;
  color:#7A8794!important;
}
.send-icons-all{
  display: flex;
  align-items: center;
}
.btn-send {
  display: flex;
  border: 1px solid #d9d9d9;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #E7E6E6;
  width: 100%;
  height: 50px;
  position: relative;
  padding: 0px 10px;
  border-radius: 28px;
}

.attechment {
  font-size: 24px;
  position: absolute;
  top: 16%;
  margin-left: 33px;
}

.icons path {
  fill: #7A8794 !important;
}

.bothicon {
  display: flex;
  margin: 48px;
}