.input-container {
  display: flex;
  gap: 15px;
  padding: 10px 10px;
}
.input-container .emoji,.input-container .attechment,.input-container .send-box .send-button{ 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.input-container .emoji{
  left: 26px;
}
.input-container .attechment{
  left: 60px;
}
.input-container .send-box .send-button{
  right: 26px;
}
@media (max-width: 375px) {
  .input-container{
    padding: 10px 10px !important;
  } 
} 

@media (max-width: 768px) {
  .input-container .send-box{ 
    padding: 0 !important;
  }
}

.input-container .send-box {
  border: 2px;
  width: 100%;
  padding: 0px; 
}

.input-container .send-box .input {  
  border: 1px solid #D9D9D9;
  background-color: transparent;
  padding: 10px 45px 10px 85px;
} 
.send-icons-all{
  display: flex;
  align-items: center;
}
.btn-send {
  display: flex;
  border: 1px solid #d9d9d9;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #E7E6E6;
  width: 100%;
  height: 50px;
  position: relative;
  padding: 0px;
  border-radius: 28px;
}
 
.icons path {
  fill: #7A8794 !important;
}

.bothicon {
  display: flex;
  margin: 48px;
}