.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0px;
  text-transform: capitalize;
}

/* @media (max-width: 768px) {
  .chat-container{
    display: none;
  }
} */
.chat-container .user-container {
  display: flex;
  flex-direction: row; 
  color: #000000 !important;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  width: 100%;
}

.back-chat-icon {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #D9D9D9;
}

.back-icon {
  padding: 0 4px;
}

.user-profile {
  display: flex;
}

.icon-color svg path {
  color: #7A8794 !important;
}

.search-user-msg {
  margin: 0 20px;
  gap: 20px;
  display: flex;
}

.chat-container .user-container img { 
  height: 64px;
  width: 64px;
  border-radius: 50%;
  cursor: pointer;
}

.chat-container .messages-container {
  width: 100%;
  padding: 10px 15px;
  height: calc(100vh - 261px);
  font-size: 14px;
  color: black; 
  overflow-y: auto;   
}   

.messages-container .messages-send {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 16px;
}

.loader-container {
  width: 100%;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages-container .messages-rececive {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}
@media (max-width: 1023px) {
  .messages-container .messages-rececive{
    padding-bottom: 0;
  }
}

.messages-container .messages-send .sender-msg,
.messages-container .messages-rececive .receiver-msg {
  margin: 5px;
  padding: 10px;
  word-wrap: break-word;
  border-radius: 0px 10px 10px 10px;
  text-wrap: wrap;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
}

.messages-container .messages-send .sender-msg {
  border-radius: 10px 0px 10px 10px;
  color: #ffffff !important; 
  max-width: 100%; 
  background-color: #ff6c37; 
  margin: 0 0 0 5px;
  font-size: 16px;
}

.messages-container .messages-rececive .receiver-msg {
  border-radius: 0px 10px 10px 10px;
  color: #000;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  background-color: #f6f6f6;
  margin: 0 5px 0 0;
}

.time {
  margin-left: 5px;
  font-size: 12px;
  color: #7A8794 !important; 
  font-weight: 400;
  text-transform: uppercase;
}

.view-btn {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 99;
}

.view-more-button {
  padding: 7px 16px;
  border-radius: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  border: 1px solid #212121;
  color: #212121 !important;
  letter-spacing: 1px;
  font-weight: 500;
}
.view-more-button:hover{
  background-color: #D9D9D9;
}
.type {
  padding: 0px 10px;
  padding-bottom: 20px;
  height: 10px;
}

@media (max-width: 768px) {
  .profile-img {
    width: 35px !important;
    height: 35px !important;
  }
}

.chat-msg-data .profile-img,
.your-message .profile-img {
  width: 50px !important;
  height: 50px !important;
}


.user-status { 
  font-size: 11px;
  color: #727781;
  letter-spacing: 1px;
}

.online {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: rgb(14, 194, 14);
  position: absolute;
  bottom: 0;
  left: auto;
  top: auto;
  right: 10px;
}

.online-user {
  position: relative;
  height: 64px;
  width: 64px;
}
.online-user .avatar_circle {
  width: 64px;
  height: 64px;
  font-size: 32px;
  margin: 0;
}
.time-user-chat,
.chat-msg-data,
.your-message {
  display: flex;
  align-items: center;
}

.your-message,
.chat-msg-data {
  gap: 0.5rem !important;
}

.your-message,
.your-message .time-user-chat {
  flex-direction: row-reverse;
}

.chat-send-msg-input {
  position: sticky;
  bottom: 0;
  background: white;
  border-top: 1px solid #D9D9D9;
}
.chat-send-msg-input .input-container{
  padding: 10px 15px;
}
.client-container {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.Client-Name {
  margin: 20px;
  font-size: 18px;
  font-family: Roboto;
}

.loader-icon {
  /* Define the styles for your loader icon here */
  /* For example, you can use a CSS spinner or custom icon */
  /* Here, we'll use a simple spinner as an example */
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.seenIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
  padding: 2px;
}

.imgs{
  border: 1px solid #ff895f;
  padding: 3px 6px 3px 3px;
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
  border-radius: 100%;

}
.imgsFix{
  padding: 2px
}