/* .Form{
    display: table-caption;
    text-align: center;

}
.title{
    padding-top: 22px;
    text-align: center;
    color: #ff6c37 !important;
    font-family: auto;
}
.InputValue{
    border: 1px solid;
    color: #ff6c37 !important;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 #ff6c37;
}
.body{
    text-align: -webkit-center;
}
.lable{
    margin: 10px;
    font-family: unset;
}
.InputBox{
    margin: 5px;
}
.Button{
    display: flex;
    margin: auto;
    margin-top: 20px;
    background-color: #ff6c37;
    color: white !important;
    border-color: white;

}
.Button:hover{
    background-color: white !important;
    color: #ff6c37 !important;
    border: 1px solid #ff6c37;
}
.text-container{
    background-color: #ffffdb !important;
    display: flex;
    align-items: center;
}
.text-contain h3{
    color: #ff6c37 !important;
   
}
.started-title{
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    color: #ff6c37
}
.Buttons {
    color: white;
    background-color: #ff6c37;
    border:none
}

.Buttons:hover {
    color: #ff6c37;
    background-color: white;
    border: 1px solid #ff6c37;
} */


.Welcome-chat {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    
  
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr; 
    }
  
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: 60% 40%;
    }
  }
 
.section {
    position: relative;
    display: none;
    flex: 1;
    flex-direction: column;
    padding: 22px;
    color: #FE7600;
    background-color: #ffffdb;
  }
  .section-head{
    color: #FE7600 !important;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 80%;
  }
  .section h1{
    font-size: 30px;
    line-height: 36px;
    color: #fe7600 !important;
    font-weight: 700;
  }
  
  @media screen and (min-width: 768px) {
    .section {
      display: flex;
    }
  }
  .chat-button {
    position: relative;
    padding: 22px;
  }
  .both-btn{
    margin-top: 10px;
    width: 100%;
    max-width: 440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

  }
  .login-section{
    height: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .login-btn{
    width: 100%;
    background-color: #FE7600;
    color: white !important;
    border: none;
    height: 40px;
    border-radius: 4px;
    padding: 4px;
  }
  .login-btn:hover{
    background-color: white;
    color: #FE7600 !important;
    border: 2px solid #FE7600;
  }
 .btn-sale{
  width: 100%;
    max-width: 440px;
    display: grid;
    gap: 10px;
 } 

  