.image-model {
  position: relative;
}
.image-model .image-icon {
  position: absolute;
  right: 10px;
  padding-left: 20px;
  font-size: 25px;
  cursor: pointer;
}

.downloadbtn{
  font-size: 25px;
  right: 10px;
  bottom: 10px;
  position: absolute;
}