.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  height: 100%;
  margin: 0;
  padding: 40px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  border-radius: 0 8px 8px 0;
  background-color: #ffffff; 
}
.contact-form-register{
  padding: 30px 15px;
  box-shadow: 0 0 2px 1px #00000052;
  border-radius: 8px;
  width: 90%;
}
.main-contact-form{
  align-items: center !important;
}
@media (max-width:467) {
  .main-contact-form{
    height: 100% !important;
    overflow-y: scroll !important;
  }
}
@media (max-width:768px) {
  .form-text-register{
    width: 300px;
  }
}

.form-text-register{
  text-align: center;
} 
.input-submit {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container .input:focus-within,
.input-container .input:active {
  outline: 1px solid #FE7600;
}

.input-submit .submit-button {
  border: none;
  outline: none;
  color: white !important;
  height: 40px;
  width: 160px;
  font-weight: 500;
  border-radius: 7px;
  background-color: #FE7600;
  box-shadow: none !important;

}

.input-submit .submit-button:hover , .input-submit .submit-button:active {
 background-color:white !important;
 color: #FE7600 !important;
 border: 1px solid #FE7600 !important;
}
.text{
  font-family: system-ui;
}
.text-title{
  /* margin: 35px; */
  font-family: fangsong;
}
.main-text{
  text-align: center;
  padding: 25px;

}

.register-right-images{
  background-image: url('../../../public/bde-register.jpg');
  width: 100%; 
  height: 100%;
  background-size: cover !important;
  border-radius: 8px 0 0 8px;
  position: relative;
  background-position: center !important; 
  } 
  .title-register{
      position: absolute;
      top: 34%;
      z-index: 9999;
      left: 30%;
  }
  
  .title-register h3{
     color: #fff !important;
     font-size: 32px;
  }
  .Title{
    color: #FE7600 !important;
  }
  /* .input ::placeholder{
    color: #FE7600 ;
  } */