.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form-register{
  padding: 30px 15px;
  box-shadow: 0 0 2px 1px #00000052;
  border-radius: 8px;
  width: 90%;
}
.main-contact-form{
  align-items: center !important;
}
@media (max-width:467) {
  .main-contact-form{
    height: 100% !important;
    overflow-y: scroll !important;
  }
}
@media (max-width:768px) {
  .form-text-register{
    width: 300px;
  }
}
.form-text-register{
  text-align: center;
}
.input {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 8px;
  align-items: center;

  /* border-bottom: 1px solid skyblue; */
}
input {
  border: none;
  outline: none;
  width: 250px;
}
.input-submit {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-submit .submit-button {
  border: none;
  outline: none;
  color: white !important;
  height: 40px;
  width: 160px;
  font-weight: 500;
  border-radius: 7px;
  background-color: #000000;
  box-shadow: none !important;

}

.input-submit .submit-button:hover , .input-submit .submit-button:active {
 background-color:white !important;
 color: #000000 !important;
 border: 1px solid #000000 !important;
}
.text{
  font-family: system-ui;
}
.text-title{
  /* margin: 35px; */
  font-family: fangsong;
}
.main-text{
  text-align: center;
  padding: 25px;

}

